.body{
	width:1152px ;
	height: 4725px;
	background-color: #fff;
	position: relative;
	margin: 0px 0px;
    font-family: 'Nunito';
}

.nav-bar{
	 display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    margin-bottom: 130px;
    margin-left:80px;
    margin-right: 28px;
}
.logo{
	display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}
.logo caprion{
	font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
}
.nav-menu{
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}
.angle{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 380px;
	height: 800px;
	border-bottom-left-radius: 26%;
	background: #F9BDBD;
	z-index: -1;

}
.backlogo{
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}
/* old code from repository sometest*/

body{
    width: 1070px;
    margin: 0 auto;
}

figure{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}

figure figcaption{
    font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
}

nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}

nav a{
    font-family: Nunito;
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}

nav a.home{
    color: #DAA520;
}

 nav a.button{
    border: 1px solid #3E3F43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    display: grid;
    align-items: center;
    text-transform: uppercase;
}

section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: url("img/flowerbig.svg");
    background-repeat: no-repeat;
    background-position: 500px 170px;
    margin-bottom: 150px;
}

section#main div p{
    font-family: Nunito;
    font-style: normal;
    font-size: 35px;
    color: #3E3F43;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

section#main div h1{
 font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 98px;
margin: 0px;

color: #313235;
}

section  a.button{
    border: none;
    background-color: #DAA520;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Nunito;
}
section#main div.losung{
	position: relative;
	height: 504px;
	width: auto;
	left: 102px;
}
section#about{
    margin: 0px 100px;
}
section #header{
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    grid-auto-flow: row;
    width: 952px;
    align-items: center;
    gap: 10px;
    position: relative;

    
}

section figcaption{
	font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
width: 280px;
width: fit-content;
}
section header h2{
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    text-transform: uppercase;
    width: fit-content;
    position:relative;
    right: 0px;
    text-align: right;

}

section#about article#logo_frow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color:#222222;
    grid-gap:10px;
    padding-top: 57px;
    position: relative;
    margin-bottom: 130px;
}
section#about #flower{
    z-index: -2;
    position: absolute;
    left: -195px;
    top:300px;
}
#inline_text{
    width: 470px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
section#about article#logo_frow h3
{
font-family: Nunito;
font-size: 36px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
right: 0px;
display:inline-block;
margin: 0px;
}
section#about article#logo_frow p{
font-weight: 600;
font-size: 24px;
line-height: 33px;
display:inline-block;
margin-top: 16px;
}
div.line{
    border-bottom: 1px solid black;
}
section#about article#srow{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 130px;
    height:132px ;
    position: relative;
    margin-bottom: 270px;
    
}
section#about img#spoons{
    position: absolute;
   right: -160px;
   top: -30px;
}
section#about #title header{
font-weight: 600;
font-size: 36px;
line-height: 49px;
}
 section#about #title p{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
 }

.rounded-rect#salad{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    position: absolute;
    z-index: -1;
    top: -35px;
}

section#how{
    margin: 0px  102px ;
    
    
}
section#how div{
    display:grid;
    grid-template-columns: repeat(4, 2fr);
}
section#how article {
display: flex;   
    justify-content: center;
    align-self: center;
    margin-top: 78px;
    }

section#categories{
    margin:0px 102px;
    display:relative;
}
section#categories .list{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 40px 56px;
}
section#categories .item{
    position: relative;
}
section#categories .list h3{
	font-weight: 800;
font-size: 24px;
line-height: 33px;
text-align: left;
color: #3E3F43;
padding-left: 20px;
}
section#categories .list a#button{
font-weight: 600;
font-size: 18px;
line-height: 25px;
text-align: center;
color: black;
border: 2px solid #3e3f43;
border-radius: 4px;
text-decoration: none;
width: fit-content;
padding: 10px 19px;
right: 16px;
bottom: 24px;
position: absolute;

}
section#categories .list img{
	position:relative ;
	 max-width:100%;
    max-height:235px;
    vertical-align: middle;
}


.rounded-rect div#center img#desk{
	position: absolute;
	left: 0px;
	top: 88px;
}
.rounded-rect div#center img#radio{
	position: absolute;
	top: 130px;
}
.rounded-rect div#center{
display: flex;
  justify-content: center;
  align-items: center;
}
section#testimony{
    margin:0px 102px 151PX;
}
section#testimony .gallery{
    display: grid;
    grid-template-columns: 240px 240px auto;
    gap:40px;
    align-items: start;
}

section#testimony  div#rewiew{
    width: 384px;
    height: 280px;
    border: 1px solid #A8DCEC;
    box-sizing: border-box;
}
section#testimony  div .block{
    margin: 54px 16px;
}
section#testimony  div .block .rating{
display: inline-block;
}
section#testimony div .block p{
    font-weight: 600;
font-size: 14px;
line-height: 19px;

color: #3E3F43;
}
section#testimony div .block .account{
    display:inline-flex;
    height: 40px;
    align-items: center;
}
section#testimony div .block .account img{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
section#testimony div .block .account p{
    font-style: normal;
font-weight: 600;
margin: 0px;
font-size: 12px;
line-height: 16px;
padding-left:10px;

color: #AFAFAF;
}
section#testimony #buttons a{
display: inline-block;
 width: 40px;
height: 8px;

background: #E5E5E5;
border-radius: 8px;
margin: 0px 8px;
    
}
.rounded-rect{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}   
section#testimony div#list{
    display:flex;
    flex:49%;  
    justify-content: space-between;
}
section#testimony div .button{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
}
section#testimony div#list p{
    font-weight: 600;
font-size: 14px;
line-height: 19px;
display: inline-block;
padding: 0px;
margin: 0px;
}
.icon {
    
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
  
  .arrow {
      position: relative;
    width: 90%;
    height: 10px;
    background-color: #C4C4C4;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    top:10px;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #C4C4C4;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
.rect-mini{
    width: 240px;
    height: 320px;
    position:relative;
    border-top-left-radius:100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

}
.rect-yellow{
    background-color: #F7DEA6;
}

.rect-blue{
    background-color: #A8DCEC;
}

.rect-pink{
    background-color: #F9BDBD;
}
footer {
     
    height:455px;
    width: 100%;
    background-image: url(img/pexels-photo-2.png),url(img/pexels-photo-1.png);
    background-repeat: no-repeat, no-repeat;
    background-position:left, right;
}
footer .find-us{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:67px 102px 0px;
    align-items: center;
 }
 footer .find-us p{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline;
    padding-right: 10px;
    color: #000000;    
 }
 }
  form{
    background: #FFFFFF;
    box-sizing: border-box;
    width: 355px;
 }
 form::after{
    content: "";
    clear: both;
    display: table;
 }
 form input[type=text]{
    background: #FFFFFF;
    border: 1px solid #DAA520;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    height: 40px;
  width: 70%;
  border-right:none;
  padding-left:16px;
 }
 form button{
    background: #DAA520;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  height: 44px;
  align-items: center;
  margin: 0px;
  font-weight: 600;
font-size: 16px;
line-height: 22px;
}