.body{
	width:1152px ;
	height: 4725px;
	background-color: #fff;
	position: relative;
	margin: 0px 0px;
    font-family: 'Nunito';
}
.header{
   
}
.nav-bar{
	 display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    margin-bottom: 130px;
    margin-left:80px;
    margin-right: 28px;
}
.logo{
	display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}
.logo caprion{
	font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
}
.nav-menu{
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}
.angle{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 380px;
	height: 800px;
	border-bottom-left-radius: 26%;
	background: #F9BDBD;
	z-index: -1;

}
.backlogo{
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}
/* old code from repository sometest*/

body{
    width: 1070px;
    margin: 0 auto;
}

figure{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}

figure figcaption{
    font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
}

nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}

nav a{
    font-family: Nunito;
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}

nav a.home{
    color: #DAA520;
}

 nav a.button{
    border: 1px solid #3E3F43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    display: grid;
    align-items: center;
    text-transform: uppercase;
}

section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: url("img/flowerbig.svg");
    background-repeat: no-repeat;
    background-position: 500px 170px;
    margin-bottom: 150px;
}

section#main div p{
    font-family: Nunito;
    font-style: normal;
    font-size: 35px;
    color: #3E3F43;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

section#main div h1{
 font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 98px;
margin: 0px;

color: #313235;
}

section  a.button{
    border: none;
    background-color: #DAA520;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Nunito;
}
section#main div.losung{
	position: relative;
	height: 504px;
	width: auto;
	left: 102px;
}
section#about{
    margin: 0px 100px;
}
section #header{
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    grid-auto-flow: row;
    width: 952px;
    align-items: center;
    gap: 10px;
    position: relative;

    
}

section figcaption{
	font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
width: 280px;
width: fit-content;
}
section header h2{
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    text-transform: uppercase;
    width: fit-content;
    position:relative;
    right: 0px;
    text-align: right;

}

section article#logo_frow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color:#222222;
    grid-gap:10px;
    padding-top: 147px;
    position: relative;
    margin-bottom: 160px;
}
section#about #flower{
    z-index: -2;
    position: absolute;
    left: -195px;
    top:300px;
}
#inline_text{
    width: 470px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
section#about article#logo_frow h3
{
font-family: Nunito;
font-size: 36px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
right: 0px;
display:inline-block;
margin: 0px;
}
section#about article#logo_frow p{
font-weight: 600;
font-size: 24px;
line-height: 33px;
display:inline-block;
margin-top: 16px;
}
div.line{
    border-bottom: 1px solid black;
}
section#about article#srow{
    display: grid;
    grid-template-columns: auto auto;
}
section#about img#spoons{
    position: absolute;
    top:1486px;
    left:865px;
}
section#about #title header{
font-weight: 600;
font-size: 36px;
line-height: 49px;
}
 section#about #title p{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
 }
.rounded-rect{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    position: absolute;
    z-index: -1;
    top:50px;
}
section#how{
    margin: 0px  102px ;
    
    
}
section#how div{
    display:grid;
    grid-template-columns: repeat(4, 2fr);
}
section#how article {
display: flex;   
    justify-content: center;
    align-self: center;
    margin-top: 78px;
    }

section#categories{
    margin:0px 102px;
}

.rect-yellow{
    background-color: #F7DEA6;
}

.rect-blue{
    background-color: #A8DCEC;
}

.rect-pink{
    background-color: #F9BDBD;
}