.body{
	width:1152px ;
	height: 4725px;
	color: #fff;
	position: relative;
	margin: 0px 0px;
}
.header{
   
}
.nav-bar{
	 display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    margin-bottom: 130px;
    margin-left:80px;
    margin-right: 28px;
}
.logo{
	display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}
.logo caprion{
	font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
}
.nav-menu{
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}
.angle{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 380px;
	height: 800px;
	border-bottom-left-radius: 26%;
	background: #F9BDBD;
	z-index: -1;

}
.backlogo{
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}
/* old code from repository*/

body{
    width: 1070px;
    margin: 0 auto;
}

figure{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}

figure figcaption{
    font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
}

nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}

nav a{
    font-family: Nunito;
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}

nav a.home{
    color: #DAA520;
}

 nav a.button{
    border: 1px solid #3E3F43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    display: grid;
    align-items: center;
    text-transform: uppercase;
}

section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: url("img/flowerbig.svg");
    background-repeat: no-repeat;
    background-position: 500px 170px;
    margin-bottom: 150px;
}

section#main div p{
    font-family: Nunito;
    font-style: normal;
    font-size: 35px;
    color: #3E3F43;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

section#main div h1{
 font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 98px;
margin: 0px;

color: #313235;
}

section#main div a.button{
    border: none;
    background-color: #DAA520;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Nunito;
}
section#main div.losung{
	position: relative;
	height: 504px;
	width: auto;
	left: 102px;
}

section#about header{
    display: grid;
    grid-template-columns: 280px auto 470px;
    align-items: center;
    gap: 10px;
    padding-left: 102px;
}

section#about figcaption{
	font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
width: 280px;
}
section#about header h2{
    font-family: Nunito;
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    text-transform: uppercase;
    margin: 0;
    margin-right: 90px;
}

div.line{
    border-bottom: 1px solid black;
}


.rounded-rect{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    position: absolute;
    z-index: -1;
}

.rect-yellow{
    background-color: #F7DEA6;
}

.rect-blue{
    background-color: #A8DCEC;
}

.rect-pink{
    background-color: #F9BDBD;
}