body{
	width:1152px ;
	height: 4725px;
	background-color: #fff;
    font-family: 'Nunito';
    justify-content: center;
    margin:auto;
    padding: 0px;
}
.logo{
	display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}
.nav-menu{
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.angle{
	position: absolute;
	right: 0px;
	top: -10%;
	width: 380px;
	height: 800px;
	border-bottom-left-radius: 120px;
	background: #F9BDBD;
	z-index: -1;
    display: inline-flexbox;

}
.angle img{
    position: absolute;
    bottom:18PX;
    left:-70%;
}
.backlogo{
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}
/* old code from repository sometest*/

body{
    width: 1070px;
    margin: 0 auto;
}

figure{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 0;
}

figure figcaption{
    font-family: Nunito;
    margin-left: 10px;
    font-size: 24px;
    color: #3E3F43;
    font-weight: 1000;
}

section#introduction .nav-bar{
    display: grid;
    grid-template-columns: 33% auto;
}

nav{
    display: flex;
    float:left;
    flex-flow: row nowrap;
height: 40px;
padding: auto;
justify-content: space-between;
}

nav a{
    font-family: Nunito;
    text-decoration: none;
    font-weight: 400;
font-size: 16px;
color: rgba(34, 34, 34, 0.75);
display: inline-block;
width: fit-content;
align-self: center;

}

nav a.home{
    color: #DAA520;
    margin-left: 0px;
}
section a#signup{
    width: 20%;
    height: 40px;
    border-radius: 8px;
    border:1px solid #222222;
    color:#222222;
    background: none;
    font-weight: 700;
font-size: 16px;
line-height: 22px;

}
section#introduction {
    position: relative;
}
section#introduction figcaption{
    font-weight: 700;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.25em;
}
section#introduction img#table{
    max-height: fit-content;
    width: auto;
    height:90%;
}
section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: url("img/flowerbig.svg");
    background-repeat: no-repeat;
    background-position: 500px 170px;
    margin-bottom: 150px;
    position: relative;
    align-items: center;
}

section#main div p{
    font-family: Nunito;
    font-style: normal;
    font-size: 35px;
    color: #3E3F43;
    margin-bottom: 0px;
    padding:8px ;
}

section#main div h1{
 font-family: 'Nunito';
font-style: normal;
font-size: 72px;
line-height: 98px;
margin: 0px;
padding:8px ;

color: #313235;
}

section  a.button{
    border: none;
    background-color: #DAA520;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:"Nunito";
    margin: 16px;
    
}
section#main div.losung{
	position: relative;
	height: 504px;
	width: auto;

 
}

section #header{
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    grid-auto-flow: row;
    width: 100%;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-top:120px ;
}

section figcaption{
font-family: 'Nunito';
font-style: normal;
font-size: 36px;
line-height: 49px;
width: 280px;
width: fit-content;

}
section header h2{
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
    text-transform: uppercase;
    width: fit-content;
    position:relative;
    right: 0px;
    text-align: right;
    font-weight: 1000;
    font-size: 82px;
    line-height: 98px;
  

}
section#about{
    justify-items: center;
}
section#about article#logo_frow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#222222;
    grid-gap:10px;
    padding-top: 57px;
    position: relative;
    align-items: start;
}
section#about #flower{
    z-index: -2;
    position: absolute;
    left: -195px;
    top:300px;
}
#inline_text{
    width: 470px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 30px;
}
section#about article#logo_frow h3
{
font-family: Nunito;
font-size: 36px;

line-height: 49px;
letter-spacing: 0em;
right: 0px;
display:inline-block;
margin: 0px;
}
section#about article#logo_frow p{

font-size: 24px;
line-height: 33px;
display:inline-block;
margin-top: 16px;
font-weight: 600, Semi Bold;
}
div.line{
    border-bottom: 1px solid black;
}
section#about article#srow{
    display: grid;
    grid-template-columns: 70% auto;
    position: relative;
    align-items: center;
    margin-top: 10vmin;
}
section#about img#spoons{
    position :relative;
    right:-20%

}
section#about #title header{

font-size: 36px;
line-height: 49px;
font-weight: 800;

}
section#about strong{
    font-weight :1000;
}
 section#about #title p{
    
    font-size: 24px;
    line-height: 33px;
    font-weight:900;
 }

.rounded-rect#salad{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    position: absolute;
    z-index: -1;
    top: -35px;
}

section#how{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section#how div{
    display:grid;
    grid-template-columns: repeat(4, 2fr);
}
section#how article {
display: flex;   
    justify-content: center;
    align-self: center;
    margin-top: 78px;
    }
section#how .button{
    font-weight: 700;
    justify-self:center;

}
section#categories{
    display:relative;
    justify-items: center;
}
section#categories .list{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 40px 56px;
    grid-column-gap: 10%;
    grid-row-gap: 11.1%;
}
section#categories .item{
    position: relative;
}
section#categories .list h3{
	font-weight: 800;
font-size: 24px;
line-height: 33px;
text-align: left;
color: #3E3F43;
padding-left: 20px;
}
section#categories .list a#button{

font-size: 16px;
line-height: 22px;
text-align: center;
color: black;
border: 2px solid #3e3f43;
border-radius: 4px;
text-decoration: none;
font-weight: 600;
width: fit-content;
padding: 10px 19px;
right: 16px;
bottom: 24px;
position: absolute;

}
section#categories .list img{
	position:relative ;
	 max-width:100%;
    max-height:235px;
    vertical-align: middle;
}


.rounded-rect div#center img#desk{
	position: absolute;
	left: 0px;
	top: 88px;
}
.rounded-rect div#center img#radio{
	position: absolute;
	top: 130px;
}
.rounded-rect div#center{
display: flex;
  justify-content: center;
  align-items: center;
}
section#testimony{
    margin:0px 0px 151PX;
    justify-content: center;
}
section#testimony .gallery{
    display: grid;
    grid-template-columns: 27% 27% 40%;
    gap:3%;
    align-items: start;
}

section#testimony  div#rewiew{
    min-width: 384px;
    min-height: 280px;
    height: auto;
    width: 100%;
    border: 1px solid #A8DCEC;
    box-sizing: border-box;
}
section#testimony  div .block{
    margin: 54px 16px;
}
section#testimony  div .block .rating{
display: inline-block;
}
section#testimony div .block p{
    
font-size: 14px;
line-height: 19px;
color: #3E3F43;
}
section#testimony div .block .account{
    display:inline-flex;
    height: 40px;
    align-items: center;
}
section#testimony div .block .account img{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
section#testimony div .block .account p{
    font-style: normal;

margin: 0px;
font-size: 12px;
line-height: 16px;
padding-left:10px;

color: #AFAFAF;
}
section#testimony #buttons a{
display: inline-block;
 width: fit-content;
height: 8px;

background: #E5E5E5;
border-radius: 8px;
margin: 0px 8px;
    
}
.rounded-rect{
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 280px;
    height: 400px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
}   
section#testimony div#list{
    display:flex;
    flex:49%; 
    width: 100%;
    justify-content: space-between;
}
section#testimony div .button{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
}
section#testimony div#list p{
    font-weight: 600;
font-size: 14px;
line-height: 19px;
display: inline-block;
padding: 0px;
margin: 0px;
}
.icon {
    
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
  
  .arrow {
      position: relative;
    width: 90%;
    height: 10px;
    background-color: #C4C4C4;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    top:10px;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #C4C4C4;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
.rect-mini{
    min-width: 240px;
    width: 100%;
    min-height: 320px;
    height:auto;
    position:relative;
    border-top-left-radius:100px;
    border-bottom-right-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

}
.rect-yellow{
    background-color: #F7DEA6;
}

.rect-blue{
    background-color: #A8DCEC;
}

.rect-pink{
    background-color: #F9BDBD;
}
footer {
     
    height:455px;
    width: 100%;
    background-image:linear-gradient(to top , transparent 60%, white), url(../img/pexels-photo-2.png),url(../img/pexels-photo-1.png);
    background-repeat: no-repeat, no-repeat;
    background-position:right, left;
}
footer .find-us{
    display:grid;
    grid-template-columns: 60% auto;
    padding:10px 102px 50px;
    align-items: center;
 }
 footer .find-us p{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline;
    padding-right: 10px;
    color: #000000;    
 }
  form{
    background: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
 }
form input[type=text]{
    background: #FFFFFF;
    border: 1px solid #DAA520;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    height: 40px;
  width: 69%;
  border-right:none;
  padding-left:16px;
 }
 form button{
    background: #DAA520;
    border: 1px solid #DAA520;
    box-sizing: border-box;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  padding: 10px 0px;
  color: white;
  height: 44px;
  align-items: center;
  width: 25%;
  margin: 0px;
  font-weight: 600;
 font-size: 16px;
 line-height: 22px;
}
footer .contacts{
    margin :26px 31% 0px 102px ;
    border-top:1px solid #C4C4C4;
    display: grid;
    display: flex; /* 130 пикселей относится к 192 как 67%*/
    color:#8D8D8D;
    gap:0px;
    flex:19%;
}
footer .contacts ul{
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex:19%;
    flex-wrap: wrap;
    margin-right:6%;
}
footer .contacts li{
list-style: none;
padding: 16px 0px;
font-weight: 400;
font-size: 14px;
line-height: 8px;
flex:1;
}
footer .contacts li a{
    text-decoration: none;
    color: #8D8D8D;
;
}
footer .contacts .head{
    font-weight: 600;
font-size: 18px;
line-height: 25px;
display: block;
color: #333333;


}
footer .contacts .head_figure{
    padding-top: 10px;
    padding-bottom:16px ;
    
}
footer #copyright{
    text-align: center;
    margin-top: 3em;
}